<div class="container__big-card">
    
    <div class="big-card__photo">
        <img src="https://lumiere-a.akamaihd.net/v1/images/iron_man_marvel_d9ce0209.jpeg?region=64,0,712,400"
        height="200px"
        
        srcset="">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
            Nova versão do Angular
            </a>
        </p>

    </div>

</div>
