<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://lumiere-a.akamaihd.net/v1/images/iron_man_marvel_d9ce0209.jpeg?region=64,0,712,400"
                    cardTitle="Novo Homem de ferro"
                    cardDescription="Novo filme do héroi homem de ferro será lançado em 2026."
        > 
        </app-big-card>
                      
    </div>
    <div class="articles__others">
        <app-small-card
        cardTitle="Nova série anunciada pela Marvel"
        photoCover="https://lumiere-a.akamaihd.net/v1/images/eu_disneyplus_ms-marvel_c169_r_877b787d.jpeg?region=0,2,1630,916&width=960"
        ></app-small-card>

        <app-small-card
        cardTitle="Novo filme da Marvel deixa a desejar alguns espectadores."
        photoCover="https://lumiere-a.akamaihd.net/v1/images/cg_disney_themarvels_2267_dfb2bb5f.jpeg?region=0,0,800,800"
        >
        </app-small-card>

        <app-small-card
        cardTitle="A última temporada da série está disponível no Disney+"
        photoCover="https://lumiere-a.akamaihd.net/v1/images/percy_jackson_-_poster_3_bee1cc95.png?region=0,0,1920,1080&width=960"
        >
        </app-small-card>
    </div>

</div>


